<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Users.</title>
</head>
<body>

<h2>USER LIST.</h2>
<br/>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>SurName</th>
        <th>Email</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user, iterStat : ${users}"
        th:style="${iterStat.odd}? 'font-weight: bold;'">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.surName}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.age}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>